.banner {
  background: url("../../../../assets//Home/home-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 2px solid white;
}

.subscribe {
  background: url("../../../../assets/Home/man.png");
  background-size: unset;
  background-position: right;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1020px) {
  .subscribe {
    background: url("");
  }
}
